@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 236, 239, 240;
  --light_pink: 249, 224, 227;
  --primary_pink: 236, 199, 206;
  --light_blue: 214, 237, 245;
  --primary_blue: 176, 208, 231;
  --light_green: 225, 245, 218;
  --primary_green: 206, 233, 190;
}
